<ul class="pictures">
  <li>
    <img src="https://dl.dropboxusercontent.com/s/2qusei0yap8nkux/mcelroy_madness.png" />
    <a class="overlay" href="http://mcelroymadness.heroku.com/">
      <h3 class="title">McElroy Madness</h3>
      <p>Gathers the most recent episode of each podcast produced by the McElroy brothers.</p>
      <small>Node, Express, Pug(Jade), Sass, Git</small>
    </a>
  </li>

  <li>
    <img src="https://dl.dropbox.com/s/022xm45hfvc4m0j/recipe_box.png" />
    <a class="overlay" href="http://thomas-johnson.net/fcc-recipe-box/">
      <h3 class="title">Recipe Box</h3>
      <p>Free Code Camp project</p>
      <small>React, Sass, ES6, Webpack, Git</small>
    </a>
  </li>

  <li>
    <img src="https://dl.dropbox.com/s/f9luxmverww63tt/pomodoro.png" />
    <a class="overlay" href="http://thomas-johnson.net/fcc-recipe-box/">
      <h3 class="title">Pomodoro Timer</h3>
      <p>Pomodoro timer</p>
      <small>React, Sass, ES6, Webpack, Git</small>
    </a>
  </li>
</ul>
